html {
  box-sizing: border-box;

  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

svg {
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
  padding: 0 1em;
}

section {
  padding: 2em 0;

  background-color: #f2f2f2;
}

section:nth-child(2) {
  background-color: #efefef;
}

section:nth-child(3) {
  background-color: #e2e2e2;
}

section:nth-child(4) {
  background-color: #ddd;
}

section:nth-child(5) {
  background-color: #d2d2d2;
}
